* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'livvic-semiBold';
    color: white;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
  }
  
img {
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}
p{
    margin: 0;
}

button{
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    background: transparent;
  }
  
  