@font-face {
    font-family: sofia-regular;
    src: url("../assets/fonts/sofia/SofiaProRegularAz.otf");
}
@font-face {
    font-family: livvic-semiBold;
    src: url("../assets/fonts/sofia/Livvic/Livvic-SemiBold.ttf");
}
@font-face {
    font-family: livvic-bold;
    src: url("../assets/fonts/sofia/Livvic/Livvic-Bold.ttf");
}