.app-header {
    
    .logo{
        font-size: 2rem;
    }
    nav {
        span{
            font-size: 18px;
            padding: 1rem;
        }
    }
    .contact-btn{
        width: 9.625rem;
        height: 3.0625;
        border: 1px solid white;
        border-radius: 1rem;
        padding: 0.55rem 0.2rem;
    }
}
